{% extends 'base.html' %}

{% block title %}Homepage{% endblock title %}

{% block active_nav_bar_home %} active {% endblock active_nav_bar_home %}

{% block body %}
<div class="container">
  <div class="jumbotron">
  <h1 class="display-4">Welcome to mero blog!</h1>
  <p class="lead">Here you can find mero blog ,hereyou can find mero blog here you can find interesting mero blogs here you can find mero blogs.</p>
  <hr class="my-4">
  <p>It is interesting and i like your .</p>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Blog</a>
</div>

</div>

<div class="container">
  {% for each in posts %}
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 my-2 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{each.title}}</strong>
          <h3 class="mb-0">{{each.aurthor}}</h3>
          <div class="mb-1 text-muted">{{each.timestamp}}</div>
          <p class="card-text mb-auto">{{each.content | truncatechars:150}}</p>
          <a href="/blog/{{each.slug}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
      {% endfor %}
</div>

{% endblock body %}
