{% extends 'base.html' %}
{% block title %}Blogpage{% endblock title %}
{% block active_nav_bar_blog %} active{% endblock active_nav_bar_blog %}

{% block body %}
<div class="container">
<h1 class="my-5"style="margin-left:20px">Blog - technical</h1>
<hr>
{% for each in data %}
<div class="container">
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 my-2 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">{{each.title}}</strong>
      <h3 class="mb-0">{{each.aurthor}}</h3>
      <div class="mb-1 text-muted">{{each.timestamp}}</div>
      <p class="card-text mb-auto">{{each.content | truncatechars:150}}</p>
      <a href="/blog/{{each.slug}}" class="stretched-link">Continue reading</a>
    </div>
    <div class="photo_size">
      <img src="/media/{{each.media_image}}" alt="imgg">
    </div>
  </div>
</div>

{% endfor %}
</div>
{% endblock body %}
